body{
    margin: 0;
}

header {
    height: 700px;
    background: url(../images/indexBack.jpg);
    background-size: cover;
}

.headerContent {
    width: 1170px;
    height: inherit;
    margin: 0 auto;
    position: relative;
    /* background: orange; */
}
.logo {
    display: block;
    width: 125px;
    height: 110px;
    position: absolute;
    left: 70px;
    top: 25px;
    background: url(../images/surfhouseLogo.png);
}
.welcomeWrap{
    background:#fff51f;
    width: 270px;
    height: 300px;
    position: absolute;
    top: 335px;
    padding: 80px 25px 0 25px;
    box-sizing: border-box;
}
.welcome {
    font-family: "Raleway Bold", sans-serif;
    color: #333333;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.welcomeText {
    font-family: "Raleway Bold Italic", sans-serif;
    font-size: 18px;
    line-height: 14px;
    margin-top: 24px;
    color: #333;
}
/* **icons**** */

.socialIconsWrap {
    position: absolute;
    right: 35px;
    top: 30px;
    display: flex;
    width: 145px;
    justify-content: space-between; 
}

.socialIconsWrap a {
    text-decoration: none;
}

.socialIconsWrap i {
    color: #fff;
}

.socialIconsWrap i:hover {
    color: #abeafa;
}
/* **********funrid******** */
.funrideWrap {
    position: absolute;
    right: 50px;
    top: 250px;
    color: #4e4906;
}

.funrideHead {
    font-family: "Raleway Extra Bold", sans-serif;
    font-size: 48px;
    line-height: 34px;
    text-transform: uppercase;
}
.funrideDesc {
    font-family: "Raleway Regular", sans-serif;
    font-size: 18px;
    margin-top: 5px;
}
.funrideBuyBtn {
    width: 124px;
    height: 49px;
    display: block;
    line-height: 49px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-family: "Raleway Black", sans-serif;
    text-transform: uppercase;
    color: #000;
    margin-top: 62px;
}

.funrideBuyBtn:hover {
    color: #756e03;
    background-color: #000;
}
/* ***********maim************* */
main{
    margin-top: -20px;
}
main:after,
.mainContent:after {
    content: '';
    clear: both;
    display: block;
}

.mainContent {
    width: 1170px;
    margin: 0 auto;
}
.contentLeft {
    width: 270px;
    float: left;
}

.mainMenu {
    background-color: #26d2fc;
}

.mainMenu a {
    display: block;
    height: 43px;
    line-height: 43px;
    text-transform: uppercase;
    font-family: "Roboto Black", sans-serif;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    padding: 0 40px;
}
.mainMenu a:first-child {
    height: 66px;
    background: #333;
    color: #fff;
    line-height: 66px;
}

.mainMenu a:hover {
    background-color: #333;
    color: #fff;
}
.nowIsOpen {
    margin-top: 30px;
    height: 300px;
    border: 10px solid white;
    box-sizing: border-box;
}
.nowIsOpen span {
    font-family: "Raleway Black Italic", sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    position: relative;
    top: 129px;
    left: 142px;
    color: #333;
}
.nowIsOpenInside {
    width: 100%;
    height: 100%;
    background: url(../images/store.jpg) no-repeat;
}

.contentRight {
    width: 870px;
    float: right;
}
.contentHeader {
    height: 78px;
    line-height: 78px;
    padding: 0 25px;
    background: #f8f8f8;
    font-family: "Roboto Black Italic", sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    color: #707070;
    margin-bottom: 30px;
}

.productsWrap {
    margin-bottom: 30px;
}

.saleProducts {
    margin-bottom: 0;
}

.productsWrap:after {
    content: '';
    clear: both;
    display: block;
}

.productUnit {
    background-color: #ffffff;
    width: 270px;
    height: 320px;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.productUnit:not(:nth-child(3n)) {
    margin-right: 30px;
}

.productUnit:nth-child(n+4) {
    margin-top: 30px;
}

.productUnitNew:before,
.productUnitHot:before {
    font-family: "Roboto Regular", sans-serif;
    font-size: 9px;
    color: #fff;
    padding: 9px 0 0 22px;
    box-sizing: border-box;
    text-transform: uppercase;
    width: 46px;
    height: 46px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.productUnitNew:before {
    content: "NEW";
    background: url(../images/new-corner.png) no-repeat;
}

.productUnitHot:before {
    content: "HOT";
    background: url(../images/hot-corner.png) no-repeat;
}

.productImg {
    width: 100%;
    height: 235px;
    margin-bottom: 19px;
}

.productName {
    width: 155px;
    font-family: "Roboto Black Italic", sans-serif;
    font-size: 14px;
    color: #333;
    float: left;
    max-height: 2.4em;
    overflow: hidden;
}

.productPriceWrap {
    float: right;
    font-family: "Roboto Black Italic", sans-serif;
    color: #333;
    text-align: right;
}

.actualPrice {
    font-size: 18px;
}

.oldPrice {
    color: #e24602;
    font-size: 14px;
    text-decoration: line-through;
}

/* **************font **************/
@font-face {
    font-family: "Raleway Black";
    src: url(../fonts/Raleway-Black.ttf);
}

@font-face {
    font-family: "Raleway Black Italic";
    src: url(../fonts/Raleway-Black-Italic.ttf);
}

@font-face {
    font-family: "Raleway Bold";
    src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: "Raleway Bold Italic";
    src: url(../fonts/Raleway-Bold-Italic.ttf);
}

@font-face {
    font-family: "Raleway Extra Bold";
    src: url(../fonts/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: "Raleway Regular";
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: "Roboto Black";
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: "Roboto Black Italic";
    src: url(../fonts/Roboto-Black-Italic.ttf);
}

@font-face {
    font-family: "Roboto Bold";
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}